/*!************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/frontend/clear-cart-popup.scss ***!
  \************************************************************************************************************************************/
.swal-footer {
  display: flex;
  justify-content: center;
}
.swal-footer .swal-button--confirm {
  background-color: #3085d6;
}
.swal-footer .swal-button--confirm:hover {
  color: #fff;
  background-color: #2870b4;
}
.swal-footer .swal-button--cancel {
  color: #fff;
  background-color: #dd3333;
}
.swal-footer .swal-button--cancel:hover {
  background-color: #bb2a2a;
}
